/* styles.css */

/* Screen styles */
.container {
    padding: 5px;
    min-height: 450px;
    min-width: 400px;
}

.container-content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Button styles */
.buttonGroup {
    display: flex;
    justify-content: center;
}

.button {
    margin: 1px;
}

.button-state-loading {
    position: relative;
    transition: opacity 0.5s ease;
    opacity: 0.5;
    /* Include other styles from props.b_style if needed */
}

.button-state-default {
    position: relative;
    transition: opacity 0.5s ease;
    opacity: 0.5;
    opacity: var(--b-opacity, 1);
    /* Include other styles from props.b_style if needed */
}

.button-state-complete {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

/* Panel Styles */
.panel-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.panel-container-content {
    background: #f1f1f1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 10px;
    height: 500px;
    min-width: 95%;
    min-height: 95%;
    overflow-y: auto;
    max-height: 100vh;
}

.panel-close-button {
    position: absolute;
    top: 10px;
    right: 30px;
    padding: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.panel-header-text {
    display: flex;
    justify-content: center;
    padding: 1px;
}

.panel-empty-state-message {
    display: flex;
    justify-content: center;
    padding: 5px;
}

/* Toast container */
.panel-toast-container {
    padding: 5px;
    margin: 3px;
}

/* Toast header */
.panel-toast-header {
    overflow-wrap: break-word;
}

.panel-image-carousel-container {
    display: flex;
    justify-content: center;
    padding: 1px;
    min-height: 300px;
    align-items: center;
}

/* Image styles */
.panel-image-carousel-container img {
    width: auto;
    height: auto;
    max-height: 300px;
    max-width: 250px;
    object-fit: contain;
}

.carousel-image-failure-placeholder {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

/*Panel Tag Button*/
.panel-tag-button {
    margin: 3px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    border-color: transparent;
    border-radius: 10px;
    /* Rounded corners */
}

.panel-tag-default {
    background-color: rgb(44, 47, 49);
    color: rgb(232, 230, 227);
}

.panel-tag-selected {
    background-color: rgb(232, 230, 227);
    color: rgb(44, 47, 49);
}

.panel-update-button-container {
    display: flex;
    align-items: center;
    /* Align items vertically in the center */
}

.panel-update-button-container .icon {
    font-size: 3em;
    /* Adjust the font-size as needed */
    margin-left: 8px;
    /* Adjust the margin as needed */
}


/*Center Spinner*/
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* Category Selector style */
.selector-container {
    display: flex;
    padding: 3px;
    align-items: center;
}

/* Form style */
.selector-form-container {
    display: flex;
    align-items: center;
}

/* Form Group style */
.selector-form-group {
    display: flex;
    /* Add display flex */
    align-items: center;
    /* Add align-items */
    margin-bottom: 0;
    margin-right: 2px;
}

/* Form Label style */
.selector-form-label {
    margin-right: 5px;
    /* Adjust the margin as needed */
}

/* Form Select style */
.selector-form-select {
    min-width: 150px;
}

.btn-lg {
    width: 90%;
    margin: 1px;
}

/* Styles for the collapsed content */

.collapse-panel-container {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    /* Rounded corners */
}

#collapse-panel {
    padding: 5px;
}

/* Styles for the toggle section */
.toggle-section {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
}

.radio-container {
    margin: 10px 8px 0px 8px;
}

.radio-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radio-input {
    margin-right: 5px;
    transform: scale(1.2);
}

.radio-label:hover {
    background-color: #f0f0f0;
}

/*Folder Lists Option Panel*/
/* Button container */
.autocomplete-container {
    display: flex;
    justify-content: center;
}

.autocomplete-container-row {
    display: flex;
    flex-direction: row;
}

/* Button styles */
.autocomplete-container>div {
    padding: 1px;
}

/* Tooltip Button */
.autocomplete-container .tooltip-button {
    margin-right: 0.5rem;
}

/* Spinner and Icon inside Buttons */
.autocomplete-container button {
    padding: 6px;
    /* Adjust as needed */
    margin: 0;
    height: 40px;
    /* Adjust the height as needed */
}

/* Styles */
/* Styles */
.infoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
}

.modelSection,
.databaseSection {
    flex: 1;
    margin: 5px;
    padding: 10px;
    border: 1px solid #eee;
    min-width: 325px;
}

.modelDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #888;
}

.buttonContainer {
    display: flex;
    align-items: center;
}

.inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.inputLabel {
    margin-right: 10px;
}

.inputField {
    width: 100%;
}

.modelVersionContainer {
    display: flex;
    font-size: 10px;
}

.modelDetails p+p {
    margin-left: 5px;
}

/* Add these styles */
.databaseModelRow {
    display: flex;
    justify-content: space-between;
    color: #888;
}


.databaseIdContainer {
    display: flex;
    align-items: flex-start;
    /* Align ID to the start */
}

.modelVersionContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /* Align mID and vID to the end */
}

.databaseIdText {
    font-size: 10px;
    margin-left: 5px;
}

.truncated-text-container {
    height: 30px;
    border-radius: 3px;
    border-radius: 3px;
    display: flex;
    width: 300px;
    overflow: hidden;
    position: relative;
    padding: 5px;
}

.truncated-text-container span {
    height: 30px;
    width: 300px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    transform: translateX(0);
    transition: 1s;
}

.truncated-text-container:first-of-type:hover span {
    width: auto;
    transform: translateX(calc(300px - 110%));
}